PORT=
DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ISSUER=
JWT_AUDIENCE=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

CLIENT_URL=

NODE_ENV=
